table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
table {
  border-spacing: 30px;
}
body  {
  background-image: url("https://www.freepik.com/free-photos-vectors/education-background");
  background-color: #cccccc;
}
#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    opacity: 1;
}