
{% extends 'base.html' %}

{% block content %}
<h1 style="color:red"><b><marquee>Student Management System </marquee></b></h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container-fluid">
  <a class="navbar-brand" href="#">Student Management System</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">All Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Students</a>
    </ul>
    <form class="d-flex">
      <input class="form-control me-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
</nav>

<table border="4" align="center">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  {% for x in mymembers %}
  <tr>
    <td>{{ x.firstname }}</td>
    <td>{{ x.lastname }}</td>
    <td><a href="delete/{{ x.id }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>

<div class="d-grid gap-2">
    <button class="btn btn-lg btn-primary" type="button"><b><a href="add/" style="text-decoration: none; color:black;">ADD STUDENT</a></b></button>
</div>

<div>
  <h4 class="text-center mb-3 mt-3">Students List</h4>
  <div class="table-responsive-sm">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Reg No.</th>
        <th scope="col">Present Address</th>
        <th scope="col">Registration Date</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      {% for student in students %}
      <tr>
        <td class="text-capitalize">{{student.name}}</td>
        <td>{{student.reg_no}}</td>
        <td class="text-capitalize">{{student.present_address}}</td>
        <td>{{student.registration_date}}</td>
        <td>
          <a role="button" class="btn btn-sm btn-outline-success"
             href="{% url 'std_detail' reg=student.reg_no %}">View</a>
        </td>
        <td>
          <a role="button" class="btn btn-sm btn-outline-danger"
             href="{% url 'delete' id=student.id %}">Delete</a>
          <!-- <button class="btn btn-sm btn-outline-danger"></button> -->
        </td>
      </tr>
      {% empty %}
      <span class="text-center">No students to show</span>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
