{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>

<div class="text-center">
    <div class="container">
        <form action="/insert_student">
            <div class="card" style="background: linear-gradient(60deg, #0099ff, #66ff66)">
                <div>
                    <label class="form-label">First Name</label>
                    <input type="text" name="first_name">
                </div>
                <div>
                    <label class="form-label">Last Name</label>
                    <input type="text" name="last_name">
                </div>
                <div>
                    <label class="form-label">Date of Birth</label>
                    <input type="date" name="dob">
                </div>
                <div>
                    <label class="form-label">Faculty</label>
                    <input type="text" name="faculty">
                </div>
                <div>
                    <label class="form-label">Hall</label>
                    <input type="text" name="hall">
                </div>
            </div>
        </form>
    </div>
</div>

</body>

{% endblock %}